docs/record.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="20171110-FDIS">
    
    <xs:element name="EHR_EXTRACT" type="EHR_EXTRACT"/>
    
    <xs:complexType name="EHR_EXTRACT">
        <xs:complexContent>
            <xs:extension base="FOLDER">
                <xs:sequence>
                    <xs:element name="ehr_system" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1" />
                    <xs:element name="ehr_id" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="time_created" type="DATE_TIME" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="authorising_party" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="access_policy_id" type="STRING" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="components" type="EXTRACTED_COMPONENT_SET" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="demographics" type="DEMOGRAPHIC_EXTRACT" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="rm_id" type="xs:string" use="required"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="BASE_COMPONENT" abstract="true">
        <xs:sequence>
            <xs:element name="rc_id" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1" />
            <xs:element name="previous_version" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
            <xs:element name="version_set_id" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
            <xs:element name="version_status" type="CODED_VALUE" minOccurs="0" maxOccurs="1"/>
            <xs:element name="reason_for_revision" type="CODED_VALUE" minOccurs="0" maxOccurs="1"/>
            <xs:element name="audits" type="AUDIT_INFO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="RECORD_COMPONENT" abstract="true">
        <xs:complexContent>
            <xs:extension base="BASE_COMPONENT">
                <xs:sequence>
                    <xs:element name="archetype_id" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="STRUCTURE_COMPONENT" abstract="true">
        <xs:complexContent>
            <xs:extension base="RECORD_COMPONENT">
                <xs:sequence>
                    <xs:element name="links" type="LINK" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="attestations" type="ATTESTATION_INFO" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AUDIT_INFO">
        <xs:sequence>
            <xs:element name="committer" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
            <xs:element name="audit_event_id" type="CODED_VALUE" minOccurs="1" maxOccurs="1"/>
            <xs:element name="audit_event_action_code" type="CODED_SIMPLE" minOccurs="1" maxOccurs="1"/>
            <xs:element name="audit_event_timestamp" type="DATE_TIME" minOccurs="1" maxOccurs="1"/>
            <xs:element name="audit_source_id" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ATTESTATION_INFO">
        <xs:complexContent>
            <xs:extension base="BASE_COMPONENT">
                <xs:sequence>
                    <xs:element name="target_component" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element name="time" type="DATE_TIME" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="proof" type="ATTACHMENT" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="attested_view" type="ATTACHMENT" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reason_for_attestation" type="CODED_VALUE" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="attester" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="attestation_means" type="CODED_SIMPLE" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="LINK">
        <xs:complexContent>
            <xs:extension base="BASE_COMPONENT">
                <xs:sequence>
                    <xs:element name="link_description" type="CODED_VALUE" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="target" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="source" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="EXTERNAL_LINK">
        <xs:complexContent>
            <xs:extension base="LINK">
                <xs:sequence>
                    <xs:element name="target_system" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="target_information_type" type="CODED_SIMPLE" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="EXTRACTED_COMPONENT_SET">
        <xs:sequence>
            <xs:element name="structure_components" type="STRUCTURE_COMPONENT" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <!-- CLINICAL DATA PACKAGE -->
    <xs:complexType name="FOLDER">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
                <xs:sequence>
                    <xs:element name="subject_of_care" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="sub_folders" type="FOLDER" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="compositions" type="COMPOSITION" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="COMPOSITION">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
                <xs:sequence>
                    <xs:element name="composer" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="policy_ids" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="content" type="CONTENT" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="sensitivity" type="xs:integer" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CONTENT" abstract="true">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SECTION">
        <xs:complexContent>
            <xs:extension base="CONTENT">
                <xs:sequence>
                    <xs:element name="members" type="CONTENT" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ENTRY">
        <xs:complexContent>
            <xs:extension base="CONTENT">
                <xs:sequence>
                    <xs:element name="subject_of_information_category" type="CODED_VALUE" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="information_provider" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="items" type="ITEM" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="demographic_items" type="DEMOGRAPHIC_ITEM" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ITEM" abstract="true">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
                <xs:sequence>
                    <xs:element name="emphasis" type="CODED_VALUE" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    
    <xs:complexType name="CLUSTER">
        <xs:complexContent>
            <xs:extension base="ITEM"> <!-- MULTIPLE INHERITANCE: STRUCTURE_COMPONENT: move it to ITEM type-->
                <xs:sequence>
                    <xs:element name="parts" type="ITEM" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ELEMENT">
        <xs:complexContent>
            <xs:extension base="ITEM"> <!-- MULTIPLE INHERITANCE: RECORD_COMPONENT: change to STRUCTURE_COMPONENT and move it to ITEM type-->
                <xs:sequence>
                    <xs:element name="value" type="DATA_VALUE" minOccurs="0" maxOccurs="1"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <!-- DEMOGRAPHIC PACKAGE -->
    <xs:complexType name="DEMOGRAPHIC_EXTRACT">
        <xs:complexContent>
            <xs:extension base="DEMOGRAPHIC_FOLDER">
                <xs:sequence>
                    <xs:element name="ehr_system" type="INSTANCE_IDENTIFIER" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="time_created" type="DATE_TIME" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="authorising_party" type="INSTANCE_IDENTIFIER" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="rm_id" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DEMOGRAPHIC_FOLDER">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
                <xs:sequence>
                    <xs:element name="entities" type="DEMOGRAPHIC_ENTITY" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="sub_folders" type="DEMOGRAPHIC_FOLDER" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DEMOGRAPHIC_ENTITY">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
                <xs:sequence>
                    <xs:element name="items" type="DEMOGRAPHIC_ITEM" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DEMOGRAPHIC_ITEM" abstract="true">
        <xs:complexContent>
            <xs:extension base="STRUCTURE_COMPONENT">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DEMOGRAPHIC_CLUSTER"> 
        <xs:complexContent>
            <xs:extension base="DEMOGRAPHIC_ITEM"> <!-- MULTIPLE INHERITANCE: STRUCTURE_COMPONENT: move it to DEMOGRAPHIC_ITEM-->
                <xs:sequence>
                    <xs:element name="parts" type="DEMOGRAPHIC_ITEM" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DEMOGRAPHIC_ELEMENT">
        <xs:complexContent>
            <xs:extension base="DEMOGRAPHIC_ITEM"> <!-- MULTIPLE INHERITANCE: RECORD_COMPONENT: change to STRUCTURE_COMPONENT and move it to DEMOGRAPHIC_ITEM-->
                <xs:sequence>
                    <xs:element name="value" type="DATA_VALUE" minOccurs="0" maxOccurs="1"/> 
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    
    
    <!-- DATA TYPES PACKAGE -->
    <!-- CHECK primitive DT definitions with ISO 21090 -->
    <xs:complexType name="DATA_VALUE" abstract="true">
    </xs:complexType>
    
    <xs:complexType name="INTEGER">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:integer" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="REAL">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:double" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="BOOLEAN">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:boolean" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="STRING">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SIMPLE_TEXT">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:sequence>
                    <xs:element name="language" type="CODED_SIMPLE" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CODED_VALUE">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:sequence>
                    <xs:element name="original_text" type="SIMPLE_TEXT" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="code" type="xs:string" use="required"/>
                <xs:attribute name="code_system" type="xs:string" use="required"/>
                <xs:attribute name="display_name" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="CODED_SIMPLE">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ATTACHMENT">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:sequence>
                    <xs:element name="description" type="SIMPLE_TEXT" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="media_type" type="CODED_SIMPLE" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="reference" type="URI" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="integrity_check_algorithm" type="CODED_SIMPLE" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="thumbnail" type="ATTACHMENT" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="value" type="xs:base64Binary" use="optional"/>
                <xs:attribute name="integrityCheck" type="xs:base64Binary" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="PHYSICAL_QUANTITY">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:sequence>
                    <xs:element name="unit" type="CODED_SIMPLE" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="value" type="xs:double" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DURATION">
        <xs:complexContent>
            <xs:extension base="PHYSICAL_QUANTITY">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="INSTANCE_IDENTIFIER">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="root" type="xs:string" use="required"/>
                <xs:attribute name="extension" type="xs:string" use="optional"/>
                <xs:attribute name="identifier_name" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="URI">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
                <xs:attribute name="description" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DATE_TIME">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="DATE">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="TIME">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="POINT_IN_TIME">
        <xs:complexContent>
            <xs:extension base="DATA_VALUE">
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>